<h1>Hello {{name}}</h1>
<p>Email: {{email}}</p>
<p>Addr1: {{address.street}}</p>
<p>City: {{address.city}}</p>
<p>Hobbies</p>
  <div *ngIf =showHobbies>
  <ul>
    <li *ngFor='let hobby of hobbies'>
      {{hobby}} <button (click)='deleteHobby(index)'>x</button>
    </li>
  </ul>
  <form (submit)='addHobby(hobby.value)'>
    <label><strong>Add Hobby</strong></label>
    <input type='text' #hobby /> <br/>
    <button (click)="addHobbies('abc')" type="button" name="button">Submit</button>
  </form>
  </div>
  <button (click)='toggleHobbies()'>{{showHobbies ? 'Hide Hobbies' : 'Show Hobbies'}}</button>
  <form>
    <label>Name:</label>
    <input type='text' name='name' [(ngModel)]='name'/>
    <br>
  </form>
  <hr/>
  <h3>Posts</h3>
  <div *ngFor='let post of posts'>
    Id: {{post.id}} Title: {{post.title}} Body: {{post.body}}
  </div>
